/* .heroP2-bg-img{
    background-image: url(../../public/images/hero/fa9b27255272d76e665cce4314b4aedb.jpeg);
     background-image:url(/image/hero/fa9b27255272d76e665cce4314b4aedb.jpeg); 
     height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
} */